@import "./variables.scss";

.header {
  width: 100vw;
  height: min-content;
  color: #01254d;
  position: fixed;
  font-size: 30px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  text-transform: uppercase;
}
