.laps {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #8fb5b5;
  padding: 15px;
  margin-top: 10px;
  height: 200px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &_list {
    padding: 0px;
    width: 100%;
  }
  &_listItem {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &L {
      color: #557c7c;
      width: 30%;
    }
    &I {
      border: solid 1px #8fb5b5;
      border-radius: 15px;
      padding: 5px;
      width: 60%;
      color: #557c7c;
      outline: none;
      &::placeholder {
        color: #8fb5b5;
      }
    }
    &B {
      width: 20px;
      outline: none;
      height: 20px;
      background-image: url("../images/bin.jpg");
      background-size: contain;
      border: none;
    }
  }
}
