.starter {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #8fb5b5;
  background-color: white;
  padding: 15px;
  font-size: 4vw;
  height: 100%;
  color: #c11628;
  text-decoration: none;
  &_link {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}
