

.watch {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #8fb5b5;
  padding: 30px;
  position: relative;
  width: 100%;
  &_toggle {
    border: none;
    border-radius: 15px;
    width: 100%;
    margin-top: 20px;
    outline: none;
    background-color: transparent;
    color: #c11628;
    border: 2px solid #c11628;
    font-size: 25px;
    padding: 2px 15px;
    height: min-content;
    font-family: "VT323", monospace;
    cursor: pointer;
    &Active {
      background-color: #c11628;
      color: white;
    }
    &:hover {
      background-color: #c11628;
      color: white;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &_counter {
    color: #01254d;
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    outline: none;
    transition: all ease 1s;
    position: relative;
    &Decoration {
      width: 150px;
      height: 150px;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 50%;
      animation: rotate 1.2s linear infinite;
      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        top: -10px;
      }
    }

    &Detail {
      font-size: 30px;
      font-family: "VT323", monospace;
      width: 150px;
      height: 150px;
      border: dotted 2px #c4142c;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      margin: 0px;
      top: 0px;
      left: 0px;
      &Stop {
        font-size: 30px;
        font-family: "VT323", monospace;
        font-weight: bold;
        position: absolute;
        color: #01254d;
        top: 0px;
        left: 0px;
        width: 150px;
        height: 150px;
        padding: 20px;
        border-radius: 50%;
        background-color: white;
        border: dotted 2px #c4142c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: none;
        transition: all ease 1s;
      }
    }
  }
  &_lap {
    text-transform: uppercase;
    font-family: "VT323", monospace;
    position: absolute;
    font-size: 13px;
    transition: all ease 1s;
    left: -40%;
    width: 40px;
    height: 40px;
    padding: 10px;
    top: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: #c11628;
    border: 1px #c11628 solid;
    background-color: white;
    &:hover {
      transform: scale(1.1);
      color: white;
      border: 1px white solid;
      background-color: #c11628;
    }
  }
  &_stop {
    text-transform: uppercase;
    font-family: "VT323", monospace;
    position: absolute;
    font-size: 13px;
    color: white;
    transition: all ease 1s;
    right: -40%;
    top: 55px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: #c11628;
    border: 1px #c11628 solid;
    background-color: white;
    &:hover {
      transform: scale(1.1);
      color: white;
      border: 1px white solid;
      background-color: #c11628;
    }
  }
}

.hidden {
  display: none;
}
